/* --------> common */

/* <-------- common */

/* --------> header */
.navbar {
  background-color: rgba(25, 25, 25, 0.7);
  height: 85px;
}

.header-logo > .navbar-brand > img {
  width: 150px;
  align-items: center;
  margin-left: 33px;
  margin-bottom: 5px;
}

header > nav > button > .navbar-toggler {
  cursor: default;
  padding: 0;
  outline: none;
  border: none;
}

header > nav > button,
header > nav > button span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

header > nav > button {
  position: relative;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  appearance: none;
  left: 15px;
  bottom: 3px;
}

header > nav > button span {
  position: absolute;
  left: 15px;
  width: 17px;
  height: 3px;
  background-color: white;
  border-radius: 1px;
  cursor: default;
}

header > nav > button span:nth-of-type(1) {
  top: 16px;
}

header > nav > button span:nth-of-type(2) {
  top: 22px;
}

header > nav > button span:nth-of-type(3) {
  bottom: 18px;
}

.navbar-nav {
  display: flex;
  width: 100%;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-size: 13px;
  margin-right: -100px;
}

.navbar-nav > li {
  flex: 0.08 0 auto;
}

.navbar-nav > li > a {
  left: 100px;
  color: white;
  outline: none;
}

.navbar-nav > li > a:hover {
  color: rgba(178, 178, 178, 0.9);
  transition: 0.3s;
}

.dropdown > .dropdown-menu {
  top: 60px;
  width: 225px;
}

.dropdown-menu > a {
  color: white;
  background-color: black;
  font-size: 13px;
  height: auto;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  display: block;
  line-height: 35px;
}

.navbar-nav > li > .dropdown-menu > a:hover {
  background-color: rgb(96, 63, 42);
  color: white;
  transition: 0.5s;
  height: auto;
}

@media (max-width: 1199.98px), (max-width: 767px), (max-width: 991px) {
  .navbar {
    background-color: black;
    height: 60px;
  }

  .header-logo > .navbar-brand > img {
    width: 120px;
    margin-left: 3px;
    margin-bottom: 10px;
  }

  .navbar-nav {
    background-color: black;
  }

  .navbar-nav > li {
    height: auto;
    line-height: 30px;
  }

  .navbar-nav > li > a:hover {
    color: white;
    transition: 0s;
  }

  .navbar-nav > li > .dropdown-menu {
    background-color: black;
    padding-left: 15px;
  }

  .navbar-nav > li > .dropdown-menu > a {
    font-size: 12px;
    line-height: 40px;
    padding: 0;
  }

  .navbar-nav > li > .dropdown-menu > a:hover {
    background-color: black;
    transition: 0s;
  }
}
/* <-------- header */

/* --------> main */

/* <-------- main */

/* --------> footer */

/* <-------- footer */
